# Tratamento de dados

## - Neste Notebook foram extraídos dados  existentes na coluna informações.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url = 'https://raw.githubusercontent.com/robertferro/carros/main/1%20-%20Web%20scraping/carros.csv'

In [32]:
df = pd.read_csv(url, sep = ',')

In [33]:
df.head()

,modelo,preco,quilometragem,ano,infomacoes
0,Agile,25.990,91.000 Km,2011,Chevrolet Agile 1.4 Lt 5p
1,Agile,28.900,123.915 Km,2013,Chevrolet Agile 1.4 Ltz 5p
2,Agile,28.000,91.000 Km,2013,Chevrolet Agile 1.4 Lt 5p
3,Agile,26.890,151.000 Km,2011,Chevrolet Agile 1.4 Mpfi Ltz 8v
4,Agile,31.990,106.863 Km,2014,Chevrolet Agile Agile 1.4 Ltz 8v Flex 4p Manual

In [34]:
df.shape

(16834, 5)

### Reorganizando os dados da coluna "informacoes"

In [35]:
informacoes = df['infomacoes'].str.split(" ", n = 1, expand = True)
df['marca'] = informacoes[0]
df['informacoes'] = informacoes[1]

In [36]:
df.head()

,modelo,preco,quilometragem,ano,infomacoes,marca,informacoes
0,Agile,25.990,91.000 Km,2011,Chevrolet Agile 1.4 Lt 5p,Chevrolet,Agile 1.4 Lt 5p
1,Agile,28.900,123.915 Km,2013,Chevrolet Agile 1.4 Ltz 5p,Chevrolet,Agile 1.4 Ltz 5p
2,Agile,28.000,91.000 Km,2013,Chevrolet Agile 1.4 Lt 5p,Chevrolet,Agile 1.4 Lt 5p
3,Agile,26.890,151.000 Km,2011,Chevrolet Agile 1.4 Mpfi Ltz 8v,Chevrolet,Agile 1.4 Mpfi Ltz 8v
4,Agile,31.990,106.863 Km,2014,Chevrolet Agile Agile 1.4 Ltz 8v Flex 4p Manual,Chevrolet,Agile Agile 1.4 Ltz 8v Flex 4p Manual

In [37]:
df.marca.value_counts()

Chevrolet        2342
Volkswagen       1959
Fiat             1829
Renault          1070
Hyundai          1067
Ford             1023
Citroën           993
Peugeot           891
Toyota            681
Nissan            669
Mercedes-benz     595
Bmw               593
Land              583
Mitsubishi        581
Kia               578
Honda             528
Jeep              394
Audi              291
Suzuki             96
Amc                 9
Mercedes            9
Jinbei              5
Gm                  4
Seat                4
Chrysler            4
Subaru              3
Sucata              3
Novo                3
Iveco               3
Mlb3185             2
Smart               2
Dodge               2
Rover               1
Invel               1
Volksvawen          1
Chery               1
Volvo               1
Idéia               1
Lexus               1
Envemo              1
Jaguar              1
Mlb5683             1
Mlb5753             1
Escort              1
Porsche             1
Mlb3196             1
Mlb5784             1
Mlb5779             1
Scania              1
Vw                  1
Name: marca, dtype: int64

In [38]:
dict(df.marca.value_counts().tail(31)).keys()

dict_keys(['Amc', 'Mercedes', 'Jinbei', 'Gm', 'Seat', 'Chrysler', 'Subaru', 'Sucata', 'Novo', 'Iveco', 'Mlb3185', 'Smart', 'Dodge', 'Rover', 'Invel', 'Volksvawen', 'Chery', 'Volvo', 'Idéia', 'Lexus', 'Envemo', 'Jaguar', 'Mlb5683', 'Mlb5753', 'Escort', 'Porsche', 'Mlb3196', 'Mlb5784', 'Mlb5779', 'Scania', 'Vw'])

In [39]:
drop_marcas = list(dict(df.marca.value_counts().tail(31)).keys())

  - Tratando a coluna marcas

In [40]:
df = df.set_index('marca')

In [41]:
df = df.drop(drop_marcas)

In [42]:
df = df.reset_index()

In [43]:
df = df.drop('infomacoes', axis = 1)

In [44]:
df.head()

,marca,modelo,preco,quilometragem,ano,informacoes
0,Chevrolet,Agile,25.990,91.000 Km,2011,Agile 1.4 Lt 5p
1,Chevrolet,Agile,28.900,123.915 Km,2013,Agile 1.4 Ltz 5p
2,Chevrolet,Agile,28.000,91.000 Km,2013,Agile 1.4 Lt 5p
3,Chevrolet,Agile,26.890,151.000 Km,2011,Agile 1.4 Mpfi Ltz 8v
4,Chevrolet,Agile,31.990,106.863 Km,2014,Agile Agile 1.4 Ltz 8v Flex 4p Manual

 - Tratando a coluna quilometragem.

In [45]:
km = df['quilometragem'].str.split(" ", n = 1, expand = True)

In [46]:
df['quilometragem'] = km[0]

In [47]:
df['preco'] = df['preco'].str.replace('.','')
df['quilometragem'] = df['quilometragem'].str.replace('.','')

In [48]:
df.head()

,marca,modelo,preco,quilometragem,ano,informacoes
0,Chevrolet,Agile,25990,91000,2011,Agile 1.4 Lt 5p
1,Chevrolet,Agile,28900,123915,2013,Agile 1.4 Ltz 5p
2,Chevrolet,Agile,28000,91000,2013,Agile 1.4 Lt 5p
3,Chevrolet,Agile,26890,151000,2011,Agile 1.4 Mpfi Ltz 8v
4,Chevrolet,Agile,31990,106863,2014,Agile Agile 1.4 Ltz 8v Flex 4p Manual

## Criando a coluna motor.

 - Funçao para pegar apenas a potência do motor.

In [49]:
def pegar_potencia_do_motor(entrada):
    entrada = entrada.split()
    
    nova_entrada = []
    for num in  entrada :
        if len(num) == 3 and '.' in num:
            nova_entrada.append(num)
            
            
    if  len(nova_entrada) == 0:
         motor = np.nan
    else:
        motor = nova_entrada
        motor = motor[0]
    
    return motor

In [50]:
df['motor'] = df['informacoes'].apply(pegar_potencia_do_motor)
df.head()

,marca,modelo,preco,quilometragem,ano,informacoes,motor
0,Chevrolet,Agile,25990,91000,2011,Agile 1.4 Lt 5p,1.4
1,Chevrolet,Agile,28900,123915,2013,Agile 1.4 Ltz 5p,1.4
2,Chevrolet,Agile,28000,91000,2013,Agile 1.4 Lt 5p,1.4
3,Chevrolet,Agile,26890,151000,2011,Agile 1.4 Mpfi Ltz 8v,1.4
4,Chevrolet,Agile,31990,106863,2014,Agile Agile 1.4 Ltz 8v Flex 4p Manual,1.4

In [51]:
df.motor.value_counts()

1.6    3381
2.0    3306
1.0    1972
1.4    1483
1.8    1434
3.0     571
1.5     549
2.2     371
2.5     344
2.8     332
2.3     321
2.4     297
1.3     213
3.5     185
3.6     154
3.2     133
3.3     100
2.7      85
6.2      74
4.4      58
3.8      53
1.2      37
4.3      36
3.7      24
4.1      19
4.0      18
5.0      16
4.7      16
1.7      15
5.9       8
4.2       8
1.9       6
2.o       4
1.1       3
4.8       3
3.o       2
5.7       2
T.b       2
5.2       2
6.3       2
Ed.       1
(n.       1
Name: motor, dtype: int64

In [57]:
drop_motor = list(dict(df.motor.value_counts().tail(11)).keys())

In [58]:
df = df.set_index('motor')

In [60]:
df = df.drop(drop_motor)

In [61]:
df = df.reset_index()

In [62]:
df.head()

,motor,marca,modelo,preco,quilometragem,ano,informacoes
0,1.4,Chevrolet,Agile,25990,91000,2011,Agile 1.4 Lt 5p
1,1.4,Chevrolet,Agile,28900,123915,2013,Agile 1.4 Ltz 5p
2,1.4,Chevrolet,Agile,28000,91000,2013,Agile 1.4 Lt 5p
3,1.4,Chevrolet,Agile,26890,151000,2011,Agile 1.4 Mpfi Ltz 8v
4,1.4,Chevrolet,Agile,31990,106863,2014,Agile Agile 1.4 Ltz 8v Flex 4p Manual

 - Criando novo arquivo csv com os dados pré-proessados.

In [ ]:
df.to_csv('carros_manipulado.csv',index =False , encoding = 'utf-8')