# Tratamento de dados

## - Neste Notebook foram extraindos dados   existentes na coluna informações.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/robertferro/carros/main/1%20-%20Web%20scraping/dados_carros_ml_categorias.csv'

In [2]:
df = pd.read_csv('dados_carros_ml_categorias.csv', sep =',')

In [3]:
df.head()

     preco quilometragem   ano                                  infomacoes
0  114.900    100.000 Km  2013  Volkswagen Fox 1.0 Trend Tec Total Flex 5p
1   29.990     71.000 Km  2012               Citroën C3 1.4 8v Glx Flex 5p
2   23.990     84.000 Km  2013  Volkswagen Fox 1.0 Trend Tec Total Flex 5p
3   28.990     10.800 Km  2019                      Ford Ka 1.0 Se Flex 5p
4   47.879     23.000 Km  2017       Hyundai Hb20 1.0 Comfort Plus Flex 5p

In [4]:
df.shape

(12288, 4)

### Reorganizando os dados da coluna "informacoes"

In [5]:
marca = df['infomacoes'].str.split(" ", n = 1, expand = True)
df['marca'] = marca[0]
df['infomacoes'] = marca[1]

In [6]:
df.head()

     preco quilometragem   ano                       infomacoes       marca
0  114.900    100.000 Km  2013  Fox 1.0 Trend Tec Total Flex 5p  Volkswagen
1   29.990     71.000 Km  2012            C3 1.4 8v Glx Flex 5p     Citroën
2   23.990     84.000 Km  2013  Fox 1.0 Trend Tec Total Flex 5p  Volkswagen
3   28.990     10.800 Km  2019                Ka 1.0 Se Flex 5p        Ford
4   47.879     23.000 Km  2017    Hb20 1.0 Comfort Plus Flex 5p     Hyundai

  - Renomeando as marcas

In [7]:
dic_marcas = dict(df.marca.value_counts())

In [8]:
dic_marcas

{'Fiat': 2016,
 'Renault': 1611,
 'Chevrolet': 1325,
 'Hyundai': 1019,
 'Volkswagen': 966,
 'Mercedes-benz': 817,
 'Ford': 730,
 'Citroën': 695,
 'Honda': 670,
 'Nissan': 426,
 'Peugeot': 381,
 'Toyota': 326,
 'Kia': 208,
 'Jeep': 151,
 'Mitsubishi': 144,
 'Bmw': 120,
 'Dodge': 97,
 'Land': 93,
 'Audi': 77,
 'Jinbei': 61,
 'Chrysler': 61,
 'Mercedes': 57,
 'Jac': 56,
 'Volvo': 32,
 'Chery': 30,
 'Mini': 17,
 'Suzuki': 15,
 'Iveco': 13,
 'Jaguar': 9,
 'Porsche': 8,
 'Ssangyong': 7,
 'Asia': 7,
 'Lexus': 6,
 'Hafei': 6,
 'Lifan': 6,
 'Novo': 5,
 'Ram': 4,
 'Effa': 3,
 'Mahindra': 3,
 'Subaru': 2,
 'Mazda': 2,
 'Gurgel': 1,
 'Vw': 1,
 'Rely': 1,
 'Seat': 1,
 'Geely': 1,
 'Shineray': 1}

In [9]:
new_dict = {
    'Fiat': 'fiat','Renault': 'renault','Chevrolet': 'chevrolet','Hyundai': 'hyundai',
     'Volkswagen': 'volkswagem','Mercedes-benz': 'mercedes','Ford': 'ford',
     'Citroën': 'citroen','Honda': 'honda','Nissan': 'nissan', 'Peugeot': 'peugeot',
     'Toyota':'toyota','Kia': 'kia','Jeep': 'jeep','Mitsubishi': 'Mitsubishi',
     'Bmw': 'bmw','Dodge': 'dodge',
     'Land': 'land rover', 'Audi': 'audi','Jinbei': 'jinbei',
     'Chrysler': 'chrysler','Mercedes': 'mercedes',
     'Jac': 'jac','Volvo': 'volvo','Chery': 'chery','Mini': 'nan',
     'Suzuki': 'suzuki','Iveco': 'iveco','Jaguar': 'nan','Porsche': 'nan',
     'Asia': 'nan','Ssangyong': 'nan','Lexus': 'nan','Lifan': 'nan',
     'Hafei': 'nan','Novo': 'nan','Ram': 'dodge','Effa': 'nan',
     'Mahindra': 'nan','Mazda': 'nan', 'Subaru': 'nan','Rely': 'nan',
     'Geely': 'nan', 'Vw': 'volkswagem',
     'Shineray': 'nan', 'Gurgel': 'nan','Seat': 'nan'
    }

In [10]:
df['marca'] = df['marca'].map(new_dict)

In [11]:
df.marca.value_counts()

fiat          2016
renault       1611
chevrolet     1325
hyundai       1019
volkswagem     967
mercedes       874
ford           730
citroen        695
honda          670
nissan         426
peugeot        381
toyota         326
kia            208
jeep           151
Mitsubishi     144
bmw            120
dodge          101
land rover      93
nan             86
audi            77
chrysler        61
jinbei          61
jac             56
volvo           32
chery           30
suzuki          15
iveco           13
Name: marca, dtype: int64

In [12]:
df = df.query('marca != "nan"')

In [13]:
df.marca.value_counts()

fiat          2016
renault       1611
chevrolet     1325
hyundai       1019
volkswagem     967
mercedes       874
ford           730
citroen        695
honda          670
nissan         426
peugeot        381
toyota         326
kia            208
jeep           151
Mitsubishi     144
bmw            120
dodge          101
land rover      93
audi            77
chrysler        61
jinbei          61
jac             56
volvo           32
chery           30
suzuki          15
iveco           13
Name: marca, dtype: int64

 - Criando a coluna modelo

In [14]:
df = df.reset_index()

In [15]:
df = df.drop('index', axis = 1)

In [16]:
df.head()

     preco quilometragem   ano                       infomacoes       marca
0  114.900    100.000 Km  2013  Fox 1.0 Trend Tec Total Flex 5p  volkswagem
1   29.990     71.000 Km  2012            C3 1.4 8v Glx Flex 5p     citroen
2   23.990     84.000 Km  2013  Fox 1.0 Trend Tec Total Flex 5p  volkswagem
3   28.990     10.800 Km  2019                Ka 1.0 Se Flex 5p        ford
4   47.879     23.000 Km  2017    Hb20 1.0 Comfort Plus Flex 5p     hyundai

In [17]:
modelo = df['infomacoes'].str.split(" ", n = 1 , expand = True)
df['modelo'] = modelo[0]
df['informacoes'] = modelo[1]

In [18]:
df = df.drop('infomacoes', axis = 1)

In [19]:
df.head()

     preco quilometragem   ano       marca modelo                  informacoes
0  114.900    100.000 Km  2013  volkswagem    Fox  1.0 Trend Tec Total Flex 5p
1   29.990     71.000 Km  2012     citroen     C3           1.4 8v Glx Flex 5p
2   23.990     84.000 Km  2013  volkswagem    Fox  1.0 Trend Tec Total Flex 5p
3   28.990     10.800 Km  2019        ford     Ka               1.0 Se Flex 5p
4   47.879     23.000 Km  2017     hyundai   Hb20     1.0 Comfort Plus Flex 5p

 - Tratando a coluna quilometragem.

In [20]:
km = df['quilometragem'].str.split(" ", n = 1, expand = True)

In [21]:
df['quilometragem'] = km[0]

In [22]:
df.head()

     preco quilometragem   ano       marca modelo                  informacoes
0  114.900       100.000  2013  volkswagem    Fox  1.0 Trend Tec Total Flex 5p
1   29.990        71.000  2012     citroen     C3           1.4 8v Glx Flex 5p
2   23.990        84.000  2013  volkswagem    Fox  1.0 Trend Tec Total Flex 5p
3   28.990        10.800  2019        ford     Ka               1.0 Se Flex 5p
4   47.879        23.000  2017     hyundai   Hb20     1.0 Comfort Plus Flex 5p

In [23]:
df['preco'] = df['preco'].str.replace('.','')
df['quilometragem'] = df['quilometragem'].str.replace('.','')

In [24]:
df.head()

    preco quilometragem   ano       marca modelo                  informacoes
0  114900        100000  2013  volkswagem    Fox  1.0 Trend Tec Total Flex 5p
1   29990         71000  2012     citroen     C3           1.4 8v Glx Flex 5p
2   23990         84000  2013  volkswagem    Fox  1.0 Trend Tec Total Flex 5p
3   28990         10800  2019        ford     Ka               1.0 Se Flex 5p
4   47879         23000  2017     hyundai   Hb20     1.0 Comfort Plus Flex 5p

 - Criando novo arquivo csv com os dados pré-processados.

In [ ]:
df.to_csv('carros_ml_categorias_pre_processados.csv',index =False , encoding = 'utf-8')